<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/common :: headExceptTitle"></th:block>
    <script type="text/javascript" th:src="@{js/forAdminPage.js}" src="../static/js/forAdminPage.js"></script>
    <th:block th:insert="fragments/common.html :: meta"></th:block>

    <title>Admin page</title>

</head>
<body>
<th:block th:insert="fragments/common.html :: header"></th:block>

<!--    Page under header-->
<div class="container-fluid justify-content-between mx-0 px-0">
    <section class="row justify-content-between">
        <!--            Left Side menu-->
        <nav class="col-2 flex-column">
            <a class="nav-link active" href="#" style="background-color: #007bff; color: white;">Admin</a>
            <a class="nav-link" href="/user">User</a>
        </nav>

        <!--            Right Side menu-->
        <div class="col-10">
            <h1>Admin panel</h1>

            <!--                UnList for tab panel-->
            <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#users" role="tab"
                       aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="create-tab" data-toggle="tab" href="#new-user" role="tab"
                       aria-controls="create-tab" aria-selected="false">New user</a>
                </li>
            </ul>

            <!--                Tab panel common / tab panels block-->
            <div class="tab-content" id="myTabContent">
                <!--                    Tab panel for users table-->
                <div class="tab-pane fade show active card" id="users" role="tabpanel" aria-labelledby="home-tab">
                    <h4 class="bg-light card-header">All users</h4>
                    <div class="container-fluid">
                        <!--                            Table users -->
                        <table class="table table-striped card-body mt-3" id="mainTableWithUsers">
                            <tr>
                                <th>ID</th>
                                <th>name</th>
                                <th>email</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getFirstName()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td>
                                    <th:block th:each="role : ${user.getRoles()}" th:text="${role.toString()} + ' '">
                                        role
                                    </th:block>
                                </td>
                                <td>
                                    <!-- Button trigger modal EDIT -->
                                    <button th:id="'eBtn' + ${user.id}" type="button"
                                            data-toggle="modal"
                                            th:data-target="'#editUserModal' + ${user.id}"
                                            th:data-id="${user.id}"
                                            data-action="edit"
                                            class="btn btn-info btn-sm">
                                        Edit
                                    </button>

                                    <!-- Modal EDIT-->
                                    <th:block th:insert="fragments/admin_blocks.html :: editModal"></th:block>
                                </td>
                                <td>
                                    <!-- Button trigger modal DELETE -->
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                            th:attr="data-target='#delete-user' + ${user.id} + '', data-object='' + ${user}"
                                            data-action="delete">
                                        Delete
                                    </button>

                                    <!-- Modal delete-->
                                    <th:block th:insert="fragments/admin_blocks.html :: deleteModal"></th:block>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!--                    Tab panel for add new user-->
                <th:block th:insert="fragments/admin_blocks.html :: newUserTab"></th:block>
            </div>
        </div>
    </section>
</div>
</body>
</html>