<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Login page</title>
</head>
<body>
<div class="container col-3">
    <h4 class="font-weight-bolder">Please sign in</h4>
    <div th:if="${error}">
        Invalid username and password.
    </div>
    <div th:if="${logout}">
        You have been logged out.
    </div>
    <form class="form-group" th:action="@{/login}" method="post">
        <div col-3>
            <input class="form-control" type="text" name="username" placeholder="Email address" id="username">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

            <input class="btn btn-primary btn-block btn-lg mt-2" type="submit" value="Sign in"/>
    </form>
</div>
</body>
</html>