<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/common.html :: headExceptTitle"></th:block>
    <script type="text/javascript" src="js/test.js"></script>
    <th:block th:insert="fragments/common.html :: meta"></th:block>
    <title>Admin</title>
</head>
<body>

<th:block th:insert="fragments/common.html :: header"></th:block>

<!--Page under header-->
<div class="container-fluid justify-content-between mx-0 px-0">
    <section class="row justify-content-between">
        <!-- Left Side menu-->
        <nav class="col-2 flex-column">
            <a class="nav-link active" href="#" style="background-color: #007bff; color: white;">Admin</a>
            <a class="nav-link" href="/user">User</a>
        </nav>

        <!--Right Side menu-->
        <div class="col-10">
            <h1>Admin panel</h1>

            <!--UnList for tab panel-->
            <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#users" role="tab"
                       aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="create-tab" data-toggle="tab" href="#new-user" role="tab"
                       aria-controls="create-tab" aria-selected="false">New user</a>
                </li>
            </ul>

            <!-- Tab panel common / tab panels block-->
            <div class="tab-content" id="myTabContent">
                <!-- Tab panel for users table-->
                <div class="tab-pane fade show active card" id="users" role="tabpanel" aria-labelledby="home-tab">
                    <h4 class="bg-light card-header">All users</h4>
                    <div class="container-fluid">

                        <!--Таблица юзеров-->
                        <table class="table table-striped" id="mainTableWithUsers">
                            <!--Table head-->
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <!--table body-->
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <!--форма заполнения нового юзера и две кнопки-->
<!--                    <div class="container-fluid">-->
<!--                        <div class="d-flex justify-content-center">-->

<!--                            <div class="form-group align-items-center">-->
<!--                                <form id="defaultSomeForm" data-hidden=true style="display: none">-->
<!--                                    <input class="form-control" id="AddNewUserLogin" type="text"-->
<!--                                           placeholder="email"><br>-->
<!--                                    <input class="form-control" id="AddNewUserPassword" type="password"-->
<!--                                           placeholder="password"><br>-->
<!--                                    <input class="form-control" id="AddNewUserAge" type="number" placeholder="age"><br>-->
<!--                                    <button class="btn btn-primary mb-2" type="button" id="addNewUserButton">Add new-->
<!--                                        user-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <!-- Tab panel for add new user-->
                <div class="tab-pane fade card" id="new-user" role="tabpanel" aria-labelledby="create-tab">
                    <h4 class="bg-light card-header">Add new user</h4>
                    <div class="container-fluid card-body d-flex justify-content-center" id="panelForCreate">
                        <form id="formForCreate"
                              class="text-center col-4">
                            <div class="mb-3">
                                <label for="firstName"><strong>First Name</strong></label>
                                <input class="form-control" type="text"
                                       id="firstName"
                                       placeholder="Enter First Name">
                            </div>

                            <div class="mb-3">
                                <label for="email"><strong>Email</strong></label>
                                <input required class="form-control" type="email" id="email"
                                       placeholder="Enter Email">
                            </div>

                            <div class="mb-3">
                                <label for="password"><strong>Password</strong></label>
                                <input required class="form-control" type="password" id="password"
                                       placeholder="Enter Password">
                            </div>

                            <div class="mb-3">
                                <label for="roles"><strong>Role</strong></label>
                                <select required class="form-control" name="roles" id="roles" multiple size="2">
<!--                                    <option >-->
<!--                                        role-->
<!--                                    </option>-->
                                </select>
                            </div>
                            <button class="btn btn-success btn-lg" type="submit">Add new user</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!--скрытое дефолтное модальное окно -->
        <div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                    </div>

                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>