<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>UserInfo</title>

</head>
<body>

<h1>User information-page</h1>
<table class="table table-striped table-responsive-md">
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>email</th>
        <th>ROLE</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getStringRoles()}"></td>
    </tr>
</table>

<br>
<form class="container" th:action="@{/logout}" method="post">
    <input class="btn btn-danger btn-lg" type="submit" value="Logout"/>
</form>

</body>
</html>